
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;  
  background-color: #EBEBEB;
 
  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  background-color: #3d3e30;
  display: flex;
  justify-content: space-between;
  align-items: center;
/* Ajusta el relleno según sea necesario */
  color: #fff;
  height: 100px; /* Establecer altura fija */
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: none;
}
.menu {
  background-color: #e69c5b;
  align-items: center;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex: 1 1;
  flex-flow: column;
  font-size: 16px;
  height: 100px;
  justify-content: center;
  width: 100px;
  max-width: 100px;
}
@media (min-width: 1024px) {
  .menu {
    max-width: 100px;
  }
}
.logo {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  max-height: 100px;
  margin: 2rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: xx-large;
}
.barraBusqueda input {
  border: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 0;
  box-shadow: 0 0 4px 0 #00000040;
  box-sizing: border-box;
  flex: 1 1;
  flex-grow: 1;
  font-size: 14px;
  outline: 0;
  padding-block: 0.5rem;
  padding-left: 1rem;
  width: 30rem;
}
.barraBusqueda button {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 0;
  border-top-right-radius: 9px;
  color: #000000a6;
  background-color: #e69c5b;
  cursor: pointer;
  padding: 0 0.7rem;
  position: relative;
  vertical-align: text-bottom;
  height: 32px;
}
.barraBusqueda {
  padding: 0;
  display: flex;
  justify-content: center;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.right a {
  padding: 20px;
}
.cuenta {
  margin-top: 30px;
}


.yellow {
  color: #e69c5b;
}
iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  color: black;
  margin-top: 0;
  padding-top: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #f0f0f0;
  transition: left 0.3s;
}
.sidebar.active {
  left: 0;
}
.sidebarHeader {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.retroceder {
  cursor: pointer;
}

.elemento {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  padding-bottom: 10px;
}
.elemento span {
  margin-left: 20px;
}
.custom-hr {
  width: 75%; /* Ajusta el ancho según tus necesidades, por ejemplo, 50% */ /* Ajusta el grosor del hr, por ejemplo, 2px */
  background-color: #000; /* Color del hr, puedes cambiarlo según tu diseño */
  margin: auto; /* Ajusta el margen para centrar el hr horizontalmente */
}
.welcomeContainer {
  font-family: "Lato", sans-serif;
  color: #000000;
  justify-content: center;
  display: flex;
  padding-bottom: 30px;
  background-color: #E6E7E8;
}
.welcome {
  display: block;
  text-align: center;
  padding: 0.5rem;
  width: 44%;
}
.titlePage {
  font-size:xx-large;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 0;

}
.welcome p {
  font-size:large;  
  margin-top: 10px;

}
.container-topventas {
  background-color: #D9D9D9;
  text-align: center;
  padding: 1%;
}
.container-topventas h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 20px;
  font-weight: 600;
}
.cards {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.card {
  padding-top: 40px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  margin-bottom: 25px;
}
.cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  margin-block: 2.8rem;
  width: 100%;
}






.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
  background-color: #EBEBEB;
}
.visitarcatalogo{
  font-family: "Montserrat", sans-serif;
  border: none;  display: flex;
  padding: 0.5rem 1rem;
  background-color: #E69C5B;
  color: #000000;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #8b603b, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}


.visitarcatalogo:focus,
.visitarcatalogo:active {
  opacity: 0.85;
}

.visitarcatalogo svg {
  width: 1.25rem;
  height: 1.25rem;
}
footer {
  background-color: #3d3e30;
  margin-top: auto;
}
.topFooter {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-bottom: 30px;

}
.topFooter img {
  padding-right: 30px;
  padding-left: 30px;
}
.bottomFooter {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
} 
.bottomFooter nav a{
  text-decoration: none;
  font-size: large;
  color: #f0f0f0;
  padding-left: 30px;
  padding-right: 30px;

}
.copyright {
  background-color: #5B5D42;
  text-align: center;
  padding: 20px;

}
.copyright span {
  color: #fff;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
}

@media (max-width: 1024px) {
  .right {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .welcome {
    display: flex;
    width: 10px;
  }
  html, body {
    width: auto;
    height: auto;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .sidebar.active {
    width: 100%;
  }
  .logo img {
    width: 80px;
  }
  .menu {
    width: auto;
    background-color: #3d3e30;
  }
  .menu span {
    display: none;
  }
  .barraBusqueda {
    display: none;
  }
  .center {
    width: auto;
  }
  .welcome {
    display: block;
    width: auto;
  }
  .cards {
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* Set the grid to 2 columns */
    grid-gap: 10px; /* Add some gap between grid items */
  }
  .card img {
    width: 160px;
  }
}
.logged-in{
  /* Cambia la imagen o los estilos cuando la sesión está iniciada */
  content: url("/elmotorcito/images/close-square-svgrepo-com.svg");
}
::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: #e69c5b; 
  background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}